# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
*.test
*.out

# Dependency directories
/vendor/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

/storage
/config
.env
students.db
storage/storage.db
